.container{

}
.innerContainer{
    margin: 10%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 40px;
    box-shadow: 10px 10px 5px 5px gray;
    
}
.submitButton{
    margin-left: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(11, 11, 228);
  width: 100%;
  
}
a{
  margin-right: 30px;
  color: orange;
}